* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: left;
}

body {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 14px;
  color: #fff;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

input {
  border: none;
  outline: none;
}

button {
  border: none;
  background: none;
}

.App {
  display: flex;
  justify-content: center;
  padding: 50px;
}

.container {
  width: 30vw;
  height: calc(100vh - 100px);
  max-width: 350px;
  border-radius: 25px;
  background: center/cover no-repeat url("../../public/images/main-bg.jpg");
}